@use "../styles/base" as b;

@mixin btn($color) {
  padding: 0.35em 0.7em;
  border-radius: 0.25em;
  border: 1px solid $color;
  background: rgba(230, 233, 230, 0.65);
  color: rgb(15, 15, 15);
  font-size: 1.25rem;
  font-weight: bold;
  transition: background 0.4s ease-out, border-color 0.4s ease-out;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: b.$main-bg;
    border-color: b.$main-bg;
    color: rgb(236, 236, 236);
  }

  &:focus {
    outline: 1px solid lightblue;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25em;
  flex-direction: column;
  flex-wrap: wrap;
}

.heading {
  font-size: 1.6rem;
}

.result {
  width: 50%;
  min-height: 30vh;
  border: 1px solid gray;
  border-radius: 0.2em;
  display: grid;
  place-items: center;
  position: relative;
  border: 2px solid b.$border-highlight;
  background: linear-gradient(rgba(42, 157, 143, 0.7), rgba(147, 244, 171, 0.2)),
    url('../images/grey.png');
  z-index: 10;
  /* background: red; */
  /* background: url('images/grey.png'); */ /* background-image: url(i); */
  /* no-repeat fixed-center; */
  .resultNumber {
    padding: 0.65em;
    border-radius: 50%;
    z-index: 10;
    background: rgb(161, 150, 150);
    border: 2px solid b.$border-highlight;
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: b.$border-highlight;
  }
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.resultText {
  font-size: 1.25rem;
}

.btn {
  @include btn(rgb(0, 155, 52));
}

.btnInfo {
  @include btn(rgb(233, 154, 9));
}
