@use "../styles/base" as b;

@mixin btn($color) {
  padding: 0.5em 1em;
  border-radius: 0.25em;
  border: 2px solid $color;
  background: rgba(230, 233, 230, 0.65);
  color: rgb(15, 15, 15);
  font-size: 1.25rem;
  font-weight: bold;
  transition: background 0.4s ease-out, border-color 0.4s ease-out;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: b.$main-bg;
    border-color: b.$main-bg;
    color: rgb(236, 236, 236);
  }

  &:focus {
    outline: 1px solid lightblue;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25em;
  flex-direction: column;
  flex-wrap: wrap;
}

.heading {
  font-size: 1.6rem;
}

.resultText {
  font-size: 1.25rem;
}

.btn {
  @include btn(rgb(0, 155, 52));
}

.btnInfo {
  @include btn(rgb(233, 154, 9));
}
