@use "../styles/base" as b;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9em;
  flex-direction: column;
  flex-wrap: wrap;
  background: b.$containerBg;
  border-radius: 0.25em;
  border: 1px solid #859e90;
  box-shadow: b.$box-shadow;
  padding: 1em 2em;

  @include b.mediaQuery(b.$mobile) {
    padding: 2.4em 0.5em;
  }
}

.heading {
  font-size: 1.75rem;
  letter-spacing: 0.05em;
  padding: 0.15em;
  color: #e4e4e4;

  .headingSpan {
    background: b.$titleBg;
    padding: 0.3em 0.5em;
    border: 3px double b.$containerBg;
    border-radius: 1em 0.15em;
    box-shadow: b.$btnShadow;
  }
}

.result {
  width: 100%;
  min-height: 34vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  background: linear-gradient(rgba(b.$mainBg, 0.9), rgba(233, 241, 235, 0.01)),
    url('../images/grey2x.png') center;
  border-radius: 0.55em 0.55em 0 0;

  .resultHeading {
    color: b.$white;
    letter-spacing: 0.05em;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .resultNumber {
    background: transparent;
    font-size: 6rem;
    font-weight: bold;
    color: rgb(250, 250, 250);
    text-shadow: b.$text-shadow;
    letter-spacing: 0.05em;
  }

  .percent {
    font-size: 2.25rem;
  }

  .resultInfo {
    color: b.$white;
    text-shadow: b.$text-shadow;
    letter-spacing: 0.05em;
    font-size: 1.7rem;
    font-weight: bold;
  }
}

.textWrapper {
  width: 100%;
  border-radius: 0 0 0.55em 0.55em;
  border: 1px solid b.$paragraphBg;
  margin-top: -0.9em;
  .separator {
    border-bottom: 1px dotted b.$paragraphBg;
    position: relative;
  }

  .resultText {
    font-size: 1.1rem;
    text-align: center;
    padding: 0.35em 0em;
  }
}

.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  @include b.buttonDefault;
  cursor: pointer;

  &:hover {
    background: b.$btnHoverBg;
  }

  &:focus {
    outline: 1px solid lightblue;
  }

  @include b.active;

  &:first-of-type {
    background: b.$paragraphBg;
  }
}

.icon {
  font-size: 1.4rem;
}
