@use "../styles/base" as b;

.container {
  display: grid;
  place-items: center;
  gap: 1.5em;
  text-transform: capitalize;
  background: rgb(214, 235, 214);
  margin: 3em auto;
  padding: 3em 4em;
  box-shadow: 5px 6px 8px #888888;
  border: 1px solid #b14747;
  border-radius: 0.35em;
}

.heading {
  font-size: 1.8rem;
}

.link {
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  border: 2px solid rgb(0, 155, 52);
  background: rgba(230, 233, 230, 0.65);
  color: rgb(15, 15, 15);
  font-size: 1.25rem;
  font-weight: bold;
  transition: background 0.4s ease-out, border-color 0.4s ease-out;
  cursor: pointer;

  &:hover {
    background: b.$mainBg;
    border: 2px solid b.$mainBg;
    color: rgb(236, 236, 236);
  }

  &:focus {
    outline: 1px solid lightblue;
  }

  @include b.for-mobile {
    padding: 0.4em 0.8em;
  }
}
