@use "../styles/base" as b;

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2em;

  .infoText {
    color: rgb(61, 61, 61);
  }

  @include b.for-mobile {
    flex-direction: column;
    gap: 0.5em;
  }
}
