@use "../styles/base" as b;

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2em;

  .infoText {
    color: rgb(39, 38, 38);
  }

  @include b.mediaQuery(b.$mobile) {
    flex-direction: column;
    gap: 0.5em;
  }
}
