@use "../styles/base" as b;

.introduction {
  @extend %containerBox;
  width: 48%;
  height: 54%;
  min-height: 526px;
  min-width: 526px;
  background: b.$containerBg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.95em;
  padding: 0.25em;
  text-align: center;
  position: relative;
  border: 1px solid b.$accentColor;
  z-index: 1;

  @include b.mediaQuery(b.$tablet) {
    width: 60%;
    height: 58%;
  }

  @include b.mediaQuery(b.$mobile) {
    min-height: fit-content;
    min-width: fit-content;
    width: 100%;
    height: 100vh;
    padding: 0.75em;
  }
}

.circle {
  width: 38%;
  height: 38%;
  border-radius: 50%;
  margin-bottom: 1em;

  @include b.mediaQuery(b.$mobile) {
    width: 40%;
    min-width: 226px;
    max-height: 226px;
    height: 26%;
  }

  @include b.mediaQuery(b.$small-mobile) {
    width: 52%;
    min-width: 226px;
    height: 28%;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    border: 6px double b.$containerBg;
    background: linear-gradient(0deg, b.$mainBg 0%, #5e6b6b 100%);
  }
}

.divider {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: b.$mainBg;
  border: 4px double b.$containerBg;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -400%;
    left: -92%;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: b.$mainBg;
    border: 4px double b.$containerBg;
  }
}

.heading {
  font-size: 1.5rem;
  letter-spacing: 0.01em;
  color: b.$text-white;

  @include b.mediaQuery(b.$tablet) {
    font-size: 1.5rem;
  }

  @include b.mediaQuery(b.$small-mobile) {
    background: b.$introTitleBg;
    border-radius: 0.25em;
    border: 2px solid b.$introTitleBg;
  }

  .headingSpan {
    background: b.$mainBg;
    padding: 0.2em 0.7em;
    border-radius: 1.25em;
    box-shadow: b.$btnShadow;
    border: 4px double #50a345;

    @include b.mediaQuery(b.$small-mobile) {
      box-shadow: none;
      background: none;
      border: none;
    }
  }
}

.welcome {
  padding: 0.18em 0.5em;
  border-radius: 0.25em;
  border: 1px solid b.$accentColor;
  margin-top: 0.15em;
  font-size: 0.87rem;
  text-align: center;
  color: rgb(26, 26, 26);
  transition: color 0.25s ease-out;
}

a,
a:visited {
  color: #0047cc;
}

a:hover {
  color: #015aff;
}
