@use "../styles/base" as b;

.introduction {
  width: 50%;
  height: 65%;
  background: rgb(214, 235, 214);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5em;
  margin: 2.5em auto;
  padding: 0.25em;
  border-radius: 0.35em;
  box-shadow: 5px 6px 8px #888888;
  text-align: center;

  @include b.for-mobile {
    width: 90%;
    height: 85%;
  }

  @include b.for-tablet {
    width: 73%;
    height: 78%;
  }
}

.heading {
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  color: rgb(241, 241, 241);

  .headingSpan {
    background: rgb(0, 155, 52);
    border-radius: 0.25em;
    padding: 0.2em 0.45em;
    border: 1px solid rgb(46, 211, 60);

    @include b.for-mobile {
      background: none;
      color: rgb(17, 17, 17);
      border: none;
    }
  }
}

.img {
  width: 30%;
  height: 35%;
  border-radius: 50%;
  border: 1px solid rgb(0, 155, 52);
  background: rgba(246, 255, 254, 0.5);

  @include b.for-mobile {
    width: 50%;
    height: 34%;
  }
}

.welcome {
  border-radius: 0.25em;
  padding: 0.2em 0.3em;
  background: #9be0d8;
  font-size: 1rem;
  text-align: center;
}

a:visited {
  color: rgb(17, 17, 17);
}
