@use "../styles/base" as b;

@mixin question {
  border: 2px solid b.$main-bg;
  border-radius: 0.3em;
  padding: 0.3em;
  margin: 0.9em 0;
  position: relative;

  .number {
    position: absolute;
    top: 66%;
    left: 6%;
    background: rgb(240, 240, 240);
    border: 4px outset b.$main-bg;
    border-radius: 50%;
    padding: 0.25em 0.7em;
    font-size: 1rem;
    transform: translate(-6%, -66%);

    @include b.for-mobile {
      top: 4.2em;
      left: 1.5em;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  z-index: 100;
  animation: fade 1s ease-out;

  .modal-content {
    background: rgb(230, 230, 230);
    width: 80vw;
    max-width: 866px;
    height: 80vh;
    padding: 1em;
    border-radius: 0.3em;
    text-align: center;
    position: relative;
    overflow-y: scroll;

    .title {
      font-size: 1.5rem;
    }

    .heading {
      margin: 0.2em 0.6em;
      padding: 0.3em;
      background: rgba(b.$main-bg, 1);
      border-radius: 0.2em;
      color: rgb(241, 241, 241);
    }

    .question {
      @include question;
    }

    .questionIncorrect {
      @include question;
      background: rgb(240, 161, 161);
    }

    .answers {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.2em 0.4em;
      border: 2px solid b.$main-bg;
      border-radius: 0.2em;
      width: 66%;
      margin: 0.6em auto;

      .rightText {
        padding: 0.15em 0.25em;
        border: 1px solid b.$main-bg;
        background: rgba(b.$main-bg, 1);
        border-radius: 0.2em;
        color: rgb(240, 240, 240);
        font-size: 1.1rem;
      }
    }

    .btn {
      position: absolute;
      top: 0.6em;
      right: 0.6em;
      background: rgb(240, 240, 240);
      border: 2px solid rgb(204, 124, 124);
      border-radius: 0.5em;
      padding: 0.2em;
      color: rgb(192, 3, 3);
      display: flex;
      align-items: center;
      transition: border-color 0.3s ease-out, color 0.3s ease-out;
      cursor: pointer;

      &:hover {
        color: rgb(233, 2, 2);
        border-color: rgb(228, 54, 54);
      }

      @include b.for-mobile {
        right: 0.65em;
        top: 0.65em;
      }
    }

    .icon {
      font-size: 1.5rem;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
