@use "../styles/base" as b;

.container {
  width: 80%;
  margin: 2.75em auto;
  padding: 1.5em 2.75em;
  box-shadow: 5px 6px 8px #888888;
  background: rgb(214, 235, 214);
  border: 1px solid #a7a6a6;
  border-radius: 0.5em;
  overflow-x: hidden;

  @include b.for-mobile {
    margin: 1.5em auto;
    padding: 0.5em 1em;
  }
}

.question {
  margin: 0.3em 0 1em;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 0.4em;
  border: 2px solid b.$main-bg;
  background: rgba(b.$main-bg, 0.9);
  color: rgb(241, 241, 241);
  border-radius: 0.2em;

  @include b.for-mobile {
    border-width: 2px;
    margin-top: 0.6em;
  }
}

.answersSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;

  .answersBtn {
    width: 60%;
    font-size: 1.2rem;
    padding: 0.5em 0.75em;
    background: rgb(234, 240, 234);
    border-radius: 0.2em;
    border: 1px solid b.$main-bg;
    transition: background 0.15s ease-out;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: all 0.4s ease-out;

    &:hover {
      background: b.$border-highlight;
      transform: scale(1.06);
    }

    &:focus {
      outline: 2px solid rgb(30, 240, 93);
    }

    &:last-of-type {
      margin-bottom: 1.25em;
    }

    @include b.for-mobile {
      width: 100%;
    }

    @include b.for-tablet {
      width: 80%;
    }
  }
}

.countdown {
  display: grid;
  place-items: center;
}
