.container {
  /* width: 65vw;
  height: 65vh; */
  background: rgb(214, 235, 214);
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  margin: 3em auto;
  border-radius: 0.5em;
  padding: 1.5em 2.75em;
  box-shadow: 5px 6px 8px #888888;

  .heading {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1.35rem;
  }
}

div > label {
  margin: 0.4em 0.25em;
}

.formControl {
  background: rgb(241, 241, 241);
  font-size: 1rem;
  padding: 0.3rem 0.4rem;
  margin: 0.4em 0.25em;
  width: 100%;
  border: 1px solid #a7a6a6;
  border-radius: 0.15em;
  cursor: pointer;
}

.btn {
  padding: 0.5em 1em;
  margin: 0.4em 0.25em;
  background: rgb(1, 107, 1);
  border: 1px solid green;
  border-radius: 0.15em;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(233, 231, 231);
  transition: background 0.3s ease-out;
  cursor: pointer;

  &:hover {
    background: rgb(2, 163, 2);
  }
}
