@use "../styles/base" as b;

.container {
  @extend %containerBox;
  background: b.$containerBg;
  margin: 3em auto;
  padding: 2em 4em;

  .heading {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1.35rem;
  }
}

div > label {
  margin: 0.4em 0.25em;
}

.formControl {
  background: rgb(241, 241, 241);
  font-size: 1rem;
  padding: 0.5rem 0.4rem;
  margin: 0.4em 0.25em;
  width: 100%;
  border: 1px solid #a7a6a6;
  border-radius: 0.15em;
  cursor: pointer;
}

.btn {
  margin: 0.4em 0.25em;
  width: 100%;
  @extend %buttonDefault;

  &:hover {
    background: b.$btnHoverBg;
  }

  &:focus {
    outline: 1px solid lightblue;
  }

  @extend %active;
}
