@use "../styles/base" as b;

.btn {
  @extend %buttonDefault;
  @extend %active;
  z-index: 100;
  width: 250px;
  margin-top: 0.36em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.28em;

  &:hover {
    background: b.$btnHoverBg;
    color: rgb(231, 231, 231);
  }

  &:focus {
    outline: 1px solid lightblue;
  }

  @include b.mediaQuery(b.$mobile) {
    padding: 0.5em 0.8em;
  }

  .icon {
    font-size: 1.3rem;
  }
}
