.btn {
  padding: 0.5em 1em;
  background: white;
  border-radius: 0.25em;
  border: 2px solid rgb(165, 207, 50);
  font-size: 1.25rem;
  font-weight: bold;
  transition: transform 0.5s ease-out;

  &:hover {
    transform: scale(1.05);
  }
  &:focus {
    outline: 1px solid lightblue;
  }
}
